@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Roboto:wght@300&family=Sora:wght@300&family=Space+Mono&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
.fpage {
  height: 100vh;
}
body {
  background-color: #0b0620;
  font-family: "Space Mono", monospace;
}
::selection {
  background-color: aquamarine;
}
header {
  color: black;
  text-align: center;
  width: 100%;
  background-color: antiquewhite;
  height: 7vh;
  position: fixed;
  z-index: 11;
}
nav {
  padding: 1rem;
}
nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  font-size: 16px;
}
nav ul li {
  list-style: none;
  cursor: pointer;
  text-align: center;
}

nav li {
  position: relative;
  padding: 2.5px 15px;
  text-align: center;
}
a {
  text-decoration: none;
  color: black;
}
header img {
  display: none;
}
nav li::before {
  content: "";
  position: absolute;
  width: 0;
  height: 3px;
  bottom: 0;
  transition: width 0.2s;
  background-color: red;
  left: 1;
}

nav li:hover::before {
  width: 40%;
}
.info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10rem 5rem;
  text-align: center;
}

.info h1 {
  font-family: "Space Mono", monospace;
  font-size: 54px;
  letter-spacing: 10px;
}
.sslinks {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
.sslinks img {
  width: 50px;
  margin-top: 20px;
}

.img img {
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#arrowup {
  position: fixed;
  right: 1rem;
  bottom: 1rem;
  cursor: pointer;
}
.skills {
  text-align: center;
  padding-left: 1rem;
  padding-top: 2rem;
  color: white;
  height: 80vh;
}
.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 2rem 5rem;
  gap: 25%;
  flex-basis: 100px;
}
hr {
  margin-top: 1rem;
  margin-bottom: 1rem;
  height: 1vh;
  width: 80%;
  border-radius: 5rem;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  background-color: aquamarine;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  row-gap: 2rem;
}
.card {
  flex-grow: 1;
  padding-top: 3rem;
  flex-basis: 100px;
}
.card img {
  margin-top: 10px;
  width: 60px;
  margin-bottom: 15px;
}
